#dd
{
    margin-left: 550px;
    margin-top: 200px;
    color: whitesmoke;
}

body
{
    background-image: url("../images/beijing.jpg");
    background-size: 100%;
}
a
{
    color: whitesmoke;
}

a:hover
{
    color: #00FF00;
}
