<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>主页面</title>
    <link rel="stylesheet" th:href="@{/js/layui/css/layui.css}">
    <script type="text/javascript" th:src="@{/js/layui/layui.js}"></script>
    <script type="text/javascript" th:src="@{/js/jquery-3.4.1.js}"></script>
</head>


<script type="text/html" id="msg">

    <form class="layui-form" action="">

        <div class="layui-form-item">
            <label class="layui-form-label">账号：</label>
            <div class="layui-input-inline">

            </div>
            <div class="layui-form-mid layui-word-aux">
                <span th:text="${session.user.getAccount()}" style="color:black;"></span>
            </div>

        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">姓名：</label>
            <div class="layui-input-inline">
            </div>
            <div class="layui-form-mid layui-word-aux">
                <span th:text="${session.user.getName()}" style="color:black;"></span>
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">性别：</label>
            <div class="layui-input-inline">
            </div>
            <div class="layui-form-mid layui-word-aux">
                <span id="sex" style="color:black;"></span>
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">职位：</label>
            <div class="layui-input-inline">
            </div>
            <div class="layui-form-mid layui-word-aux">
                <span id="role" style="color:black;"></span>
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">所属部门：</label>
            <div class="layui-input-inline">
            </div>
            <div class="layui-form-mid layui-word-aux">
                <span id="dept" style="color:black;"></span>
            </div>
        </div>



    </form>

</script>

<script type="text/html" id="updatePass">

    <form class="layui-form" action="">

        <div class="layui-form-item">
            <label class="layui-form-label">原密码：</label>
            <div class="layui-input-inline">
                <input type="password"  id="oldPass"  lay-verify="required" placeholder="请输入原密码" autocomplete="off" class="layui-input">
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">新密码：</label>
            <div class="layui-input-inline">
                <input type="password"  id="pass"  lay-verify="required" placeholder="请输入5-8位的新密码" autocomplete="off" class="layui-input">
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">再次输入：</label>
            <div class="layui-input-inline">
                <input type="password" name="title"  id="pass2"  lay-verify="required" placeholder="请再次输入新密码" autocomplete="off" class="layui-input">
            </div>
        </div>

        <div class="layui-form-item">
            <div class="layui-input-block">
                <button class="layui-btn" lay-submit lay-filter="yes">确认修改</button>
            </div>
        </div>

    </form>

</script>



<body class="layui-layout-body">
<span id="old" th:text="${session.user.password}" hidden="hidden"></span>
<div class="layui-layout layui-layout-admin">
    <div class="layui-header">
        <div class="layui-logo">主页面</div>
        <ul class="layui-nav layui-layout-right">
            <li class="layui-nav-item">
                <a href="javascript:;">
                    欢迎你， <span th:text="${session.user.name}"></span>
                </a>
                <dl class="layui-nav-child">
                    <dd><a id="my" href="javascript:;">个人资料</a></dd>
                    <dd><a id="update" href="javascript:;">修改密码</a></dd>
                </dl>
            </li>
            <li class="layui-nav-item"><a href="javascript:;" id="exit">注销</a></li>
        </ul>
    </div>

    <div class="layui-side layui-bg-black">
        <div class="layui-side-scroll">
            <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
            <ul class="layui-nav layui-nav-tree"  lay-filter="test">
                <li class="layui-nav-item layui-nav-itemed" th:each="map:${session.menu}">
                    <a class="" href="javascript:;"><span th:text="${map.key}"></span></a>
                    <dl class="layui-nav-child" th:each="v:${map.value}">
                        <dd><a  target="myFrame" th:href="${v.url}"><span th:text="${v.name}"></span></a></dd>
                    </dl>
                </li>
            </ul>
        </div>
    </div>

    <div class="layui-body" >
        <iframe src="" name="myFrame" style="height: 100%;width: 100%;"></iframe>
    </div>

    <!--    <div class="layui-footer">-->

    <!--        @BOOSIZE-->
    <!--    </div>-->
</div>


<script>




	layui.use(['form','layer','element'], function(){
		var form = layui.form;
		var layer = layui.layer;

		$('#exit').click(function () {
			layer.confirm('确定要退出登录吗', {title:'温馨提示'}, function()
			{
				window.location.href="/go/to/index";
			});
		});
		$('#my').click(function () {
			layer.open({
				title: '个人资料',
				content: $('#msg').html(),
				closeBtn: 2,
				anim: 4,
				type: 1,
				area:['400px','400px'],
				success:function () {
					$.ajax({
						type:'POST',
						url:'/user/getMsg',//后端路径
						success:function(msg)//回调函数,访问成功时回执行的方法，msg:后端传回的信息
						{
							document.getElementById("sex").innerText=msg.sex;
							document.getElementById("role").innerText=msg.role;
							document.getElementById("dept").innerText=msg.dname;
						},
						error:function ()//异常时执行的内容，后端代码报错，url路径找不到等
						{
							layer.alert("服务器正忙.....",{icon:5});
						}
					});
				}

			});
		});

		$('#update').click(function () {
			layer.open({
				title: '修改密码',
				content: $('#updatePass').html(),
				closeBtn: 2,
				anim: 4,
				type: 1,
				area:['350px','350px'],
				success:function () {
				}

		    });

			form.on('submit(yes)', function(data)
			{
				var oldpass=$('#oldPass').val();
				var oldpass2=document.getElementById("old").innerText;
				var newPass=$('#pass').val();
				var newPass2=$('#pass2').val();

				if(!(oldpass===oldpass2))
                {
                	layer.alert("原密码有误",{icon:5});
                }
				else if(newPass.length<5 || newPass.length>8)
                {
	                layer.alert("请输入5-8位的新密码",{icon:5});
                }
				else if(!(newPass===newPass2))
                {
	                layer.alert("两次新密码不一致",{icon:5});
                }
				else if(newPass===oldpass2)
                {
	                layer.alert("新密码不得与原密码一致",{icon:5});
                }
				else
                {
	                $.ajax({
		                type:'POST',
		                url:'/user/updatePass',//后端路径
		                data:{pass:newPass},//传给后端的参数
		                success:function(msg)//回调函数,访问成功时回执行的方法，msg:后端传回的信息
		                {
			                if(msg==="no")
			                {
				                layer.alert("修改失败，请重试",{icon:5});
			                }
			                else
			                {
				                layer.open({
					                title: '温馨提示',
					                content: '修改成功，请重新登录',
					                closeBtn: 0,
					                anim: 4,
					                type: 0,
					                icon:6,
					                yes:function () {
						                window.location.href="/go/to/index";
					                }
                                });
			                }
		                },
		                error:function ()//异常时执行的内容，后端代码报错，url路径找不到等
		                {
			                layer.alert("服务器正忙.....",{icon:5});
		                }
	                });
                }


				return false;
            });
		});

	});
</script>







</body>
</html>